<div style="margin: 5% 15%">
<p>
For beach walkers and novice divers, one of the greatest attractions is the colors and shapes of the undersea world. In the diving world this is especially so for budding photographers. One of the first subjects is often a starfish. After all they don’t swim away fast! Divers have an ongoing love of the starfish an a vibrant clue to the health of the reefs (all apart from the Crown of Thorns of course.. he’s the pantomime villain!).
</p><p>
It is therefore shocking that there is a mass die-off of starfish in both the Pacific and Atlantic Ocean at the moment. The horrific wasting is making news around the world (see list of articles at the end of the post), but is best appreciated through the video taken by environmental activist and underwater filmmaker Laura James, based in Seattle. Her video captures the bleakness of the situation.


</p></p>
<div class="embed-vimeo">
  <iframe src="//player.vimeo.com/video/80181246" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>


</p><p>

Although scientific studies are underway in the USA (University of Santa Cruz, Vancouver Aquarium and Rhode Island respectively), nobody knows what is the cause. It could be pollution, it could be ocean warming, it could be a disease.
</p><p>

What is needed is a broader view of the situation. At the moment the whole West Coast of Canada and the USA is impacted, the US seaboard from Maine to Florida also seems to have similar problems. If this is a biological problem or a disease it will likely spread on the currents in the ocean. Therefore early warning is needed. Divers are best placed to notice things with key species like starfish.
</p><p>

<h2>A CALL TO ACTION</h2>

A world-wide campaign is building to scope the problem. Divers around the world can also contribute to the efforts. In fact tracking instances of die off is the only way to get attention onto this issue.  We are not asking for extensive data, that will be for the second round, we are simply looking for instances of sick or dying starfish.  #sickstarfish  or #nosickstarfish
</p><p>
The campaign is looking for:
</p><p>

<ul>
  <li>Deaths and wasting  (both underwater and in the rocky tidepools on the beach)
  <li>Starfish curled up and or hiding in unusual ways
  <li>Starfish washups – a group of starfish washed up onto the beach
</ul>

</div>
