<div style="margin: 5% 15%">
  Environmental Outreach/Contact: <a href="mailto:ljjames@mac.com">Laura James</a>
  <ul>
    <li>all requests from news media and other organizations.</li>
  </ul>
  Technical Website Contact: <a href="mailto:lamont@scriptkiddie.org">Lamont Granquist</a>
  <ul>
    <li>report outages, bugs, etc.</li>
  </ul>
</div>
