
<div style="margin: 5% 15%">

<h3>Help us track Sea Stars with #sickseastars</h3>

<p>
We need your help!  Scuba Divers and Tidepool/Beach walkers alike, if you have a smartphone (or camera) and internet access you can be a part of the largest starfish survey ever!   Sea Stars are DYING and we are in a perfect position to help the experts track the progress of this unknown problem.
</p>

<p>
Sea stars are one of the most iconic animals in the Northwest. While you may not think of them as majestic, it’s difficult to imagine a rocky shore without them. They are one of the most accessible organisms we encounter in the wild: we draw them as kids, touch them in tide pools, and see them on the beach. Sea stars are more abundant and diverse in our waters than anywhere else in the world.
</p>

<p>
The coast of British Columbia and the waters of Puget Sound are currently experiencing a sea star mass mortality event, coined Sea Star Wasting Syndrome.   Divers began noticing sick and dying stars in early September 2013 in Canadian waters and a matter of weeks was being noted in Puget Sound. 
</p>

<p>
The phenomenon seems to be affecting a number of species including purple stars (Pisaster ochraceus), pink stars (Pisaster brevispinus), mottled stars (Evasterias toschelii) Sun Stars (Solaster family) and several others. However, the sunflower star, Pycnopodia helianthoides and the Purple Star, Pisaster Ochraceus appear to be the hardest hit species, with dense aggregations disappearing in a matter of weeks.  See the impact here on a local dive site in Puget Sound near Seattle, WA.  
</p>

<div class="embed-vimeo">
    <iframe src="//player.vimeo.com/video/80181246" width="400" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

<p>
The wasting syndrome may be a pathogen that affects several species in the same way, or there may be multiple agents at play. The underlying causes of the epidemic are not known. But through collaborations with veterinarians, universities, other researchers, and the public, we can work together to understand the problem. 
</p>

<h3>How you can help</h3>

<h4>Divers:</h4>

If you do not have a waterproof case for your smartphone, take the time to note the condition of the sea stars at your favorite dive sites.  when you finish your dive, take a picture of the beach where you were diving, and upload to Instagram, Twitter or Facebook with the #sickstarfish if you saw sick or dead Sea Stars, or #nosickstarfish if you saw normal healthy Sea Star populations

<h4>Beach combers and Tidepool visitors</h4>

<p>
Please take a picture of the Sea Stars you encounter on the beach.  Sometimes it can be hard to tell if a sea star is healthy when the tide has gone out, so we are going to leave that to the experts.  Just take a picture of it and upload to Instagram, Twitter or Facebook with the #beachstarfish
</p>

<p>
We will do the rest.  Your entry will show up in REALTIME on the map www.sickstarfish.com and we can track the progress of healthy and sick sea stars world wide.   Even if your local waters are not showing any symptoms, please upload that so we have a baseline and can tell if and when a new area becomes impacted. 
</p>
</div>

